.btn {
    @apply no-underline gap-2 h-12 px-7 border inline-flex cursor-pointer select-none;
    @apply items-center justify-center border-transparent text-center transition duration-100 ease-in-out rounded-lg;

    &:active:hover,
    &:active:focus {
        transform: scale(0.97);
    }

    /* default btn */
    & {
        @apply border-base-200 bg-base-200 text-base-content outline-base-content;
        @apply dark:border-dark-base-200 dark:bg-dark-base-200 dark:text-dark-base-content dark:outline-dark-base-content;

        @media (hover: hover) {
            &:hover {
                @apply border-base-300 bg-base-300;
                @apply dark:border-dark-base-300 dark:bg-dark-base-300;
            }
        }
    }

    /* brand colors */
    &-primary {
        @apply border-primary bg-primary text-primary-content outline-primary;
        @apply dark:border-dark-primary dark:bg-dark-primary dark:text-dark-primary-content dark:outline-dark-primary;

        @media (hover: hover) {
            &:hover {
                @apply border-primary-focus bg-primary-focus;
                @apply dark:border-primary-focus dark:bg-primary-focus;
            }
        }
    }

    &-secondary {
        @apply border-secondary bg-secondary text-secondary-content outline-secondary;
        @apply dark:border-dark-secondary dark:bg-dark-secondary dark:text-dark-secondary-content dark:outline-dark-secondary;

        @media (hover: hover) {
            &:hover {
                @apply border-secondary-focus bg-secondary-focus;
                @apply dark:border-secondary-focus dark:bg-secondary-focus;
            }
        }
    }

    &-accent {
        @apply border-accent bg-accent text-accent-content outline-accent;
        @apply dark:border-dark-accent dark:bg-dark-accent dark:text-dark-accent-content dark:outline-dark-accent;

        @media (hover: hover) {
            &:hover {
                @apply border-accent-focus bg-accent-focus;
                @apply dark:border-accent-focus dark:bg-accent-focus;
            }
        }
    }

    &-neutral {
        @apply border-neutral bg-neutral text-base-content outline-neutral;
        @apply dark:border-dark-neutral dark:bg-dark-neutral dark:text-dark-base-content dark:outline-dark-neutral;

        @media (hover: hover) {
            &:hover {
                @apply border-neutral-focus bg-neutral-focus;
                @apply dark:border-neutral-focus dark:bg-neutral-focus;
            }
        }
    }

    /* btn with state colors */
    &-info {
        @apply border-info bg-info text-base-100 outline-info;
        @apply dark:border-dark-info dark:bg-dark-info dark:text-dark-base-100 dark:outline-dark-info;

        @media (hover: hover) {
            &:hover {
                @apply border-info bg-info;
                @apply dark:border-info dark:bg-info;
            }
        }
    }

    &-success {
        @apply border-success bg-success text-base-100 outline-success;
        @apply dark:border-dark-success dark:bg-dark-success dark:text-dark-base-100 dark:outline-dark-success;

        @media (hover: hover) {
            &:hover {
                @apply border-success bg-success;
                @apply dark:border-success dark:bg-success;
            }
        }
    }

    &-warning {
        @apply border-warning bg-warning text-base-100 outline-warning;
        @apply dark:border-dark-warning dark:bg-dark-warning dark:text-dark-base-100 dark:outline-dark-warning;

        @media (hover: hover) {
            &:hover {
                @apply border-warning bg-warning;
                @apply dark:border-warning dark:bg-warning;
            }
        }
    }

    &-error {
        @apply border-error bg-error text-base-100 outline-error;
        @apply dark:border-dark-error dark:bg-dark-error dark:text-dark-base-100 dark:outline-dark-error;

        @media (hover: hover) {
            &:hover {
                @apply border-error bg-error;
                @apply dark:border-error dark:bg-error;
            }
        }
    }

    /* btn variants */
    &-ghost {
        @apply border border-transparent bg-transparent text-neutral dark:text-white outline-current;

        @media (hover: hover) {
            &:hover {
                @apply border-opacity-0 bg-base-content bg-opacity-20;
                @apply dark:border-opacity-0 dark:bg-base-content dark:bg-opacity-20;
            }
        }
    }

    &-link {
        @apply border-transparent bg-transparent text-primary outline-none h-auto px-1;
        @apply dark:border-transparent dark:bg-transparent dark:text-dark-primary dark:outline-none dark:h-auto dark:px-1;

        @media (hover: hover) {
            &:hover {
                @apply border-transparent bg-transparent underline;
                @apply dark:border-transparent dark:bg-transparent dark:underline;
            }
        }
    }

    /* outline */
    &-outline {
        @apply border-current bg-transparent text-base-content dark:text-base-content;
        @apply dark:border-current dark:bg-transparent text-base-content dark:text-base-content;

        @media (hover: hover) {
            &:hover {
                @apply border-base-content bg-base-content text-base-100;
                @apply dark:border-base-content dark:bg-base-content dark:text-base-100;
            }
        }

        &.btn-primary {
            @apply text-primary dark:text-dark-primary;

            @media (hover: hover) {
                &:hover {
                    @apply border-primary-focus bg-primary-focus text-primary-content;
                    @apply dark:border-primary-focus dark:bg-primary-focus dark:text-primary-content;
                }
            }
        }

        &.btn-secondary {
            @apply text-secondary dark:text-dark-secondary;

            @media (hover: hover) {
                &:hover {
                    @apply border-secondary-focus bg-secondary-focus text-secondary-content;
                    @apply dark:border-secondary-focus dark:bg-secondary-focus dark:text-secondary-content;
                }
            }
        }

        &.btn-accent {
            @apply text-accent dark:text-dark-accent;

            @media (hover: hover) {
                &:hover {
                    @apply border-accent-focus bg-accent-focus text-accent-content;
                }
            }
        }

        &.btn-success {
            @apply text-success dark:text-dark-success;

            @media (hover: hover) {
                &:hover {
                    @apply border-success bg-success text-base-100;
                }
            }
        }

        &.btn-info {
            @apply text-info dark:text-dark-info;

            @media (hover: hover) {
                &:hover {
                    @apply border-info bg-info text-base-100;
                }
            }
        }

        &.btn-warning {
            @apply text-warning dark:text-dark-warning;

            @media (hover: hover) {
                &:hover {
                    @apply border-warning bg-warning text-base-100;
                }
            }
        }

        &.btn-error {
            @apply text-error dark:text-dark-error;

            @media (hover: hover) {
                &:hover {
                    @apply border-error bg-error text-base-100;
                }
            }
        }
    }

    /* disabled and shape */
    &-neutral-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-neutral-disabled disabled:bg-neutral-disabled disabled:hover:cursor-not-allowed;
    }

    &-primary-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-primary-disabled disabled:bg-primary-disabled disabled:hover:cursor-not-allowed;
    }

    &-secondary-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-secondary-disabled disabled:bg-secondary-disabled disabled:hover:cursor-not-allowed;
    }

    &-accent-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-accent-disabled disabled:bg-accent-disabled disabled:hover:cursor-not-allowed;
    }

    &-info-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-info-disabled disabled:bg-info-disabled disabled:hover:cursor-not-allowed;
    }

    &-success-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-success-disabled disabled:bg-success-disabled disabled:hover:cursor-not-allowed;
    }

    &-warning-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-warning-disabled disabled:bg-warning-disabled disabled:hover:cursor-not-allowed;
    }

    &-error-disabled {
        @apply text-neutral dark:text-white disabled:dark:bg-dark-error-disabled disabled:bg-error-disabled disabled:hover:cursor-not-allowed;
    }


    /* size and shape */
    &-xs {
        @apply h-6 px-2;
        font-size: 0.75rem;
    }

    &-sm {
        @apply h-8 px-3;
        font-size: 0.875rem;
    }

    &-md {
        @apply h-12 px-4;
        font-size: 0.875rem;
    }

    &-lg {
        @apply h-16 px-6;
        font-size: 1.125rem;
    }

    &-wide {
        @apply w-64 flex-nowrap;
    }

    &-block {
        @apply w-full;
    }

    &-square {
        @apply h-12 w-12 p-0;

        &:where(.btn-xs) {
            @apply h-6 w-6 p-0;
        }

        &:where(.btn-sm) {
            @apply h-8 w-8 p-0;
        }

        &:where(.btn-lg) {
            @apply h-16 w-16 p-0;
        }
    }
}